.page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    color:rgb(31, 31, 31);
    margin: 1% 15%;
  

    
}

.page h1 {
    font-size: 35px;
    color:rgb(92, 90, 90);
    font-weight: 450;
    margin: 1% 30px;
    align-self: flex-start;
    
}

