html {
  height: 100%;
  position: relative;
}

body {
  text-align: center;
  height: 100%;
  position: relative;
}

.app {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* footer height */
}

.selected {
  color: #fff;
  font-weight: 700;
  width: 75px;
  background-color: #606b76;
  padding: 2% 30%;
}

.side-nav-item {
  height: 35px;
}

.form-labels {
  font-weight: 800;
  font-size: 18px;
  text-align: left;
}

.add-button-label {
  margin: 2% 2%;
}

body::selection {
  background-color: rgba(15, 75, 143, 0.8);
}

.add-button-label.form-labels {
  margin-right: 2%;
}

.zls-tooltip {
  width: 250px;
  background-color: #0f4b8f;
  color: #fff;
  padding: 0.4%;
  border-radius: 8px;
}

.zls-tooltip:before,
.zls-tooltip:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 45%;
  border: 10px solid transparent;
  border-bottom-color: #0f4b8f;
}



.app-selected-link {
  color: #fff;
  font-weight: 700;
  background-color: #0f4b8f;
  padding: 1%;
}